body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

img-fluid {
  width: 100%;
  height: auto;
}

#main-caption {
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
}

#product-comp {
  list-style-type: none;
  padding: 10px;
}

#our-products {
  text-align: center;
}