body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
    float: right;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

img-fluid {
  width: 100%;
  height: auto;
}

#main-caption {
  text-align: center;
  top: 50%;
  transform: translateY(-20%);
  font-size: 50px;
}

#product-comp {
  list-style-type: none;
  border: 10px;
}

#our-products-container {
  background-color: #1414C2;
  height: 50px;
}

#our-products {
  text-align: center;
  color: white;
}
#product-name-price {
  text-align: center;
}
#add-to-cart-btn {
  float: left;
  width: 49%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: rgba(204, 202, 202, 0.68);
}
#view-details-btn {
  float: right;
  width: 49%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: rgba(204, 202, 202, 0.68);
}
#your-cart-header {
  text-align: center;
}
.cart-item-list {
  height: 40px;
}

.cart-item-name {
    float: left;
    width: 50%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 100%;
}
.input-quantity {
  height: 100%;
}
.cart-item-delete {
  float: left;
  width: 15%;
  font-size: 14px;
  height: 100%;
  padding-top: 9px;
}
.cart-quantity-input {
  float: left;
  width: 25%;
  height: 100%;
}

#cartdiv {
  float: right;
}

#signuplogin {
  margin-left: 120px;
}