// @font-face {
//   font-family: 'MyWebFont';
//   src: url('webfont.eot'); /* IE9 Compat Modes */
//   src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
//        url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
//        url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
// }

body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }


  form div {
    margin: 1em;
    display: inline-block;
  }
}

img-fluid {
  width: 100%;
  height: auto;
}


#main-caption {
  text-align: center;
  top: 50%;
  transform: translateY(-20%);
  font-size: 50px;
}

#product-comp {
  list-style-type: none;
  border: 10px;
}

.single-product {
  margin: 4%;
  background-color: rgba(202, 200, 198, 0.29);
  padding-bottom: 10px;
  height: 400px;
}

.our-products-container {
  background-color: #1a3026;

  height: 50px;
}

#our-products {
  text-align: center;
  color: white;
}

.product-buttons {
  bottom: 10px;
  position: absolute;
  width: 100%;
}


#product-name-price {
  text-align: center;
  transform: translateY(-2px);
}
#add-to-cart-btn {
  float: left;
  width: 49%;
  color: black;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: rgba(204, 202, 202, 0.68);
}
#add-to-cart-btn-disabled {
  float: left;
  width: 49%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #d9534f;
}

#view-details-btn {
  float: right;
  width: 49%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: rgba(204, 202, 202, 0.68);
}
#your-cart-header {
  text-align: center;
}
.cart-item-list {
  height: 40px;
}

.cart-item-name {
    float: left;
    width: 33%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 100%;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}
.input-quantity {
  height: 100%;
}
.cart-item-delete {
  float: left;
  width: 12%;
  font-size: 14px;
  height: 100%;
  padding-top: 9px;
}
.cart-quantity-input {
  float: left;
  width: 18%;
  height: 100%;
}
.cart-item-price{
  float: left;
  width: 17%;
  height: 100%;
}
.cart-item-subtotal {
  float: left;
  width: 20%;
  height: 100%;
}
.cart-subtotal {
  float: right;
  width: 38%;
  height: 100%;
}
.cart-checkout {
  float: right;
  width: 12%;
  font-size: 14px;
  height: 100%;
  top: 0px;
  padding-top: 8px;
}

.cart-total {
  width: 24%;
}


#cartdiv {
  float: right;
}

#homebuttondiv{
  float: right;
}

#loginsignup{
  float: right;
}

#signuplogin {
  margin-left: 120px;
}


.form-group {
  display: block;
  position: relative;
  top: 60px;
}

.btn-primary {
  display: block;
  position: relative;
  top: 0px;
}

.temp {
  height: 100px;
}

#signup {
  float: inherit;
}
.navbar {
  position: fixed;
}

.navbar-default {
  background-color: #1a3026;
  border-color: #1a3026;
}

//reviews
#star-select {
  width: 100%;
}
.review-list {
  padding-left: 0px;
}


#review-form-title {
  padding-left: 12px;
}

#review-form {
  height: max-content;
}

.form-items {
  top: 0px;
}

.form-container {
  margin-top: 0px;
}

.single-product-buttons {
  position: absolute;
  bottom: 10px;
}

.product-info {
  height: 375px;
  padding-left: 0px;
}
.product-img {
  padding-left: 0px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 0px;
  height: 375px;
}

.product-image-container {
  height: 265px;
}

.product-image {
  display: block;
  margin: auto;
  height: auto;
  max-height: 100%;
}

.product-img-thumb {
  margin: auto;
  display: block;
  height: auto;
  max-height: 100%;
}

#checkout-button {
  background-color: rgba(204, 202, 202, 0.68);
  width: 100px;
}

#profile-add-to-cart {
  background-color: rgba(204, 202, 202, 0.68);
  margin-right: 2px;
}

.product-info-container {
  padding-left: 0px;
}
.checkout-form {
  display: block;
  padding: 3%;
}

//cart-details checkout
.cart-details {
  display: block;
  padding: 5%;
}

#user-email {
  padding-left: 20px;
}

#user-reviews {
  padding-left: 35px;
}

#homeButton{
  display: block;
}

#navbar{
  background-color: #F8F8F8;
}
